<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    {% if contacts %}

    {% for contact in contacts %}

    <p>{{contact}}</p>
    <p>{{contact.email}}</p>
    <p>{{contact.phone}}</p>
    <br>
    <form id="detail-contact" method="POST" action="{% url 'detailContact' contact.id %}">
    {% csrf_token %}
    <button>Detail</button>
    </form>
    <br>
    <form id="delete-contact" method="POST" action="{% url 'deleteContact' contact.id %}">
        {% csrf_token %}
        <button>Delete</button>
        </form>
    <hr>

    {% endfor %}
    {% else%}
    <p>No Listings Available</p>
    {% endif %} 
        
       </div>
    <form id="post-form" method="POST" action="{% url 'formsubmit' %}">
    {% csrf_token %}
    <label>name</label>
    <input type="text" name="name" id="name"/> 
    <label>email</label>
    <input type="email" name="email" id="email"/>
    <label>phone</label>
    <input type="tel" id="phone" name="phone" required/>
    <button>Submit</button>

    </form>

</body>
</html>